html{
    height: 100% !important;
    max-width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffddde+0,ef282c+100 */
    background: #ffddde; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffddde 0%, #ef282c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffddde 0%,#ef282c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffddde 0%,#ef282c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffddde', endColorstr='#ef282c',GradientType=0 ); /* IE6-9 */
}

.header{
    padding-top: 3px;
    padding-left: 3px;
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
}
.body-container{
    margin-top: 80px;
    background: #e72b3b;
    width: 90%;
    min-width: 1000px;
    margin: 0 auto;
}
.canvas-container{
    width: 100%;
    height: 0;
    padding-bottom: 37%;
}
#content-pane{
    width:100%;
    background: #ffffff;
    min-width: 1000px;
    min-height: 370px;
}

.bottom-container{
    display: flex;
}

.button-menu{
    width:20vw;
}

.button-menu button {
    background-color: rgba(1, 10, 1, 0.959); 
    border: 1px solid rgb(100, 100, 100);
    color: white;
    padding: 10px 24px; 
    cursor: pointer; 
    width: 20vw;
    height: 6.7vh;
    min-width: 150px;
    min-height: 50px;
    display: block; /* Make the buttons appear below each other */
}

.button-menu button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.button-menu button:hover {
    background-color: #cc3434;
}

.editor{
    flex: 1;
    padding: 10px;
    background: lightcoral;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}