html, body {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffddde+0,ef282c+100 */
    background: #ffddde; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffddde 0%, #ef282c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffddde 0%,#ef282c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffddde 0%,#ef282c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffddde', endColorstr='#ef282c',GradientType=0 ); /* IE6-9 */

}
